<ol class="breadcrumb">
  <li>
    <%= link_to "Negocios", businesses_path %>
  </li>
  <li>
    <%= link_to business.nombre, business_path(business) %>
  </li>
  <li class="active">Editar</li>
</ol>

<%= render "form" %>
