<%= div_for model, :class => "row" do %>
  <div class="col-xs-11">
    <div class="stronger"><%= model.name %></div>
    <div><%= model.identificator %></div>
  </div>
  <div class="col-xs-1">
    <%= link_to edit_model_path(model), :class => "btn btn-xs btn-default" do %>
      <span class="glyphicon glyphicon-edit"></span>
    <% end %>
  </div>
<% end %>
