<% if @connections.any? %>
  <% @connections.each do |connection| %>
    <%= render connection %>
  <% end %>
  <div class="align_center">
    <%= paginate @connections, remote: true %>
  </div>
<% else %>
  Ninguna
<% end %>
