<div class="model row">
  <div class="col-xs-3 stronger align_center">Fecha</div>
  <div class="col-xs-2 stronger align_center">Bandango</div>
  <div class="col-xs-2 stronger align_center">Acción</div>
  <div class="col-xs-5 stronger align_center">Attrs</div>
</div>
