<ol class="breadcrumb">
  <li>
    <%= link_to "Negocios", businesses_path %>
  </li>
  <li>
    <%= link_to business.nombre, business_path(business) %>
  </li>
  <li class="active">Transacciones</li>
</ol>

<div class="models">
  <%= render "table_head" %>
  <div class="transacciones">
    <%= render "transacciones" %>
  </div>
</div>
