.align_center
  text-align: center

.actions
  text-align: right

.section
  padding-bottom: 1em
  margin-bottom: 1em
  border-bottom: 1px solid #eee

.profile_image
  border-radius: 50%
  &.small
    max-height: 100px
    max-width: 100px
  &.mini
    max-height: 50px
    max-width: 50px
  &.tiny
    max-height: 25px
    max-width: 25px
  &.really_tiny
    max-height: 18px
    max-width: 18px
